<header class="header">
    <div class="header-container">
        <div class="row">
            <div class="col-xs-8 vcenter">
                <div class="nav-links">
                    <li {% if page.path == "index.html" %} class="title" {% endif %}>
                        <a href="/index.html">home</a>
                    </li>
                    <li {% if page.path == "about.md" %} class="title" {% endif %}>
                        <a href="/about.html">about</a>
                    </li>
                    <li>
                        <a href="http://ut.gregor-sturm.de">⟨&nbsp;ut&nbsp;⟩</a>
                    </li>
                </div>
                <div class="description"> {{ site.motto }} </div>		
                <div class="social-links">
                    <li>
                    <a href="mailto:{{ site.author.email }}" title="e-mail">
                        <i class="fa fa-envelope-square fa-2x"></i>
                    </a>
                    </li>
                    <li>
                    <a href="https://github.com/{{ site.github_username }}" title="Github">
                        <i class="fa fa-github fa-2x"></i>
                    </a>
                    </li>
                    <li>
                    <a href="/assets/public_mail-at-gregor-sturm-de.gpg" title="PGP-key">
                        <i class="fa fa-key fa-2x"></i>
                    </a>
                    </li>
                    <li>
                    <a href="/feed.xml" title="RSS">
                        <i class="fa fa-rss fa-2x"></i>
                    </a>
                    </li>
                </div>	
            </div><!-- http://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3 
            --><div class="col-xs-4 vcenter"><div class="logo">
                    <img src="/assets/img/gregorsturm.png" alt="logo"/>
                </div>
            </div>
        </div>
    </div>
</header>
